{{ define "public_header" }}
<div class="header">
    <div class="container">
        <nav class="nav">
            <div class="header-logo">
                {{- if .logo }}<img src="{{ .logo }}?{{ .BuildID }}" class="logoimg" alt="logo">{{- end }}
                <a href="/" class="logo">{{ .siteName }} <i style="font-size: 0.5em;">{{ .description }}</i></a>
            </div>
            <div class="nav-actions">
                {{ if .showSearch }}
                <div x-data="searchComponent" class="search-container">
                    <input x-model="query" 
                        @input.debounce.300ms="search" 
                        @focus="showResults = true"
                        @click.away="showResults = false"
                        class="search-input"
                        placeholder="🔍 Rechercher...">
                    
                    <div x-show="showResults && results.length > 0" class="search-results">
                        <template x-for="post in results" :key="post.id">
                            <a :href="'/post/' + post.id" class="search-result">
                                <div class="search-result-title" x-text="post.title"></div>
                                <div class="search-result-tags" x-text="post.tags"></div>
                            </a>
                        </template>
                    </div>
                </div>
                {{ end }}
                
                {{ if .isAuthenticated }}
                <a href="/admin" class="btn btn-primary btn-sm"><img src="/files/img/locked.svg" class="icon"> Administration</a>
                {{ end }}
            </div>
        </nav>
        <div class="nav-links">
            {{ .menu }}
        </div>
        <span class="username">{{ .memories }}</span>
    </div>
</div>
{{ end }}